@reference 'tailwindcss';

@theme {
    --font-sans: VibeOS, sans-serif;
}

@custom-variant dark {
    &:where(.dark, .dark *) {
        @slot;
    }
}
@custom-variant light {
    &:where(.light, .light *) {
        @slot;
    }
}

@utility row {
    @apply flex items-center justify-center;
}
@utility col {
    @apply flex flex-col items-center justify-center;
}
@utility column {
    @apply flex flex-col justify-center;
}

@layer base {
    *,
    ::before,
    ::after {
        @apply border-neutral-600;
    }
}
