@reference 'tailwindcss';

@theme {
    --font-sans: VibeOS, sans-serif;
}

@custom-variant dark {
    &:where(.dark, .dark *) {
        @slot;
    }
}
@custom-variant light {
    &:where(.light, .light *) {
        @slot;
    }
}

@utility row {
    @apply flex items-center justify-center;
}
@utility col {
    @apply flex flex-col items-center justify-center;
}
@utility column {
    @apply flex flex-col justify-center;
}

@layer base {
    *,
    ::before,
    ::after {
        @apply border-neutral-600;
    }
    html {
        @apply h-full;
        font-size: 24px;
        line-height: 28px;
        --spacing: 4px;
    }
    body {
        @apply h-full overflow-hidden bg-neutral-900 wrap-break-word text-neutral-200 select-none;
    }
    #vibe-root {
        @apply h-full;
    }
}

.vibe-popper-cloak {
    visibility: hidden !important;
}
